<%= form_with(model: user_book) do |form| %>
  <% if user_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_book.errors.count, "error") %> prohibited this user_book from being saved:</h2>

      <ul>
        <% user_book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :book %>
    <%= f.collection_select :book_id, Book.order(:name),:id,:title %>
  </div>
  <div class="field">
    <%= form.label :percent_read %>
    <%= form.number_field :percent_read %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.text_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.text_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :total_reading_time %>
    <%= form.text_field :total_reading_time %>
  </div>

  <div class="field">
    <%= form.label :finished %>
    <%= form.check_box :finished %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, max: 5 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
